<br/>
<div class="m-5 row text-center">
  <div class="col">
  </div>
  <div class="col">
    <h1>Welcome to the Solar System!</h1>
    <br/>
    <br/>
    <form [formGroup]="searchForm">
      <input class="form-control"
             type="search"
             placeholder="Search Body"
             aria-label="Search"
             [formControlName]="'searchTerm'">
    </form>
    <br/>
    <br/>
      <ng-container *ngIf="(bodies$ | async) as bodies">
        <app-chunk-list [list]="bodies"
                        [displayPropertyName]="'englishName'"
                        (onClick)="onBodyClick($event)"></app-chunk-list>
      </ng-container>
      <ng-container *ngIf="(bodies$ | async)?.length === 0">
        Nothing found :(
      </ng-container>
  </div>
  <div class="col">
  </div>
</div>
