<br/>
<div class="m-5 row">
  <div class="col">
  </div>
  <div class="col">
    <div *ngIf="(body$ | async) as body"
         class="card">
      <div class="card-body">
        <h1 class="card-title">{{ body.englishName }}</h1>
        <small class="text-muted">{{ body.isPlanet ? 'Planet' : 'Moon' }}</small>
        <br/>
        <br/>
        <p class="card-text">
          <b>Inclination: </b> {{ body.inclination }} °<br/>
          <b>Density: </b> {{ body.density }} g/cm3<br/>
          <b>Gravity: </b> {{ body.gravity }} N<br/>
          <b>MeanRadius: </b> {{ body.meanRadius }} km<br/>
          <b>Mass: </b> {{ body.mass.massValue }}^{{ body.mass.massExponent }} kg<br/>
          <b>Volume: </b> {{ body.vol.volValue }}^{{ body.vol.volExponent }} m3<br/>
        </p>
        <ng-container *ngIf="body.aroundPlanet">
          <br/>
          <h4>Around Planet</h4>
          <button [routerLink]="bodyRoute(body.aroundPlanet.planet)"
                  class="btn btn-outline-success m-2"
                  type="submit">{{ body.aroundPlanet.planet }}</button>
        </ng-container>
        <ng-container *ngIf="body.moons && body.moons.length !== 0">
          <br/>
          <h4>Moons</h4>
          <app-chunk-list [list]="body.moons"
                          [displayPropertyName]="'moon'"
                          (onClick)="onMoonClick($event)"></app-chunk-list>
        </ng-container>
      </div>
    </div>
    <div *ngIf="!(body$ | async)"
         class="card">
      <div class="card-body">
        <h1 class="card-title">Not found</h1>
        <p class="card-text">No Body with this id could be found.</p>
      </div>
    </div>
  </div>
  <div class="col">
  </div>
</div>
